// COLORS
$primary-color: #64E9EE;
$secondary-color: #62929E;

$white-color: #FFFDF7;

$dark-grey: #093A3E;

$dark-blue-text: #330C2F; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
